/* Project Management Module */
	.fullUserStory
	{
		display: inline-block;
		margin: 5px;
		border: 1px solid black;
		box-shadow: black 2px 2px;
		width: 25%;
		vertical-align: top;

	}

/* Content Module */
	.funkySimpleContentPage .pageMeta h1,
	.funkySimpleContentPage .pageMeta .author
	{
		display: inline-block;
		vertical-align: top;
	}

	.funkySimpleContentPage .pageMeta .author
	{
		font-size: 0.8em;
		font-style: italic;
		margin-left: 20px;
		margin-top: 36px;
	}

/* Admin Module */
	.adminModuleLink
	{
		display: inline-block;
		vertical-align: top;
		box-shadow: black 2px 2px;
		margin-right: 5px;
		margin-bottom: 5px;
		padding: 10px;
		border: 1px solid black;
		border-radius: 0 10px 10px 0;
		width: 25%;
		color: black;
		text-decoration: none;
		height: 90px;
	}

	.adminModuleLink:hover
	{
		margin-top: 5px;
		margin-bottom: 0;
		box-shadow: black 0 0;
	}

	.adminModuleLink h2
	{
		font-size: 1.1em;
		margin: 2px 0;
	}

/* Template Editor Module */
	#te_Toolbox
	{
		display: inline-block;
		vertical-align: top;
		width: 25%;
		margin-right: 1%;
		padding: 1%;
	}

	#te_Editor
	{
		display: inline-block;
		vertical-align: top;
		width: 70%;
		padding: 1%;
	}

	#te_Toolbox > div
	{
		cursor: pointer;
		padding: 5px;
		margin-bottom: 5px;
	}

	#te_Editor .toggleChildren,
	#te_Editor .edit,
	#te_Editor .delete,
	#te_Editor .move
	{
		cursor: pointer;
	}

	#te_Editor .toggleChildren,
	#te_Editor .caption,
	#te_Editor .edit,
	#te_Editor .delete,
	#te_Editor .move
	{
		display: inline-block;
	}

	#te_Editor .children
	{
		margin-left: 10px;
	}

/* Diary Module */
	#calendar .header
	{
		font-weight: bold;
	}

	#calendar .header,
	#calendar .day
	{
		display: inline-block;
		text-align: center;
		width: 14%;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		margin-right: -1px;
	}