.panelButtons
{
	border: 1px solid #ccc;
}

.panelButtons > div
{
	cursor: pointer;
	display: inline-block;
	padding: 2px 5px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin-left: -1px;
	margin-right: -1px;
}

.cvListPane .name
{
	display: inline-block;
	width: 25%;
}

.cvListPane .edit,
.cvListPane .delete,
.cvListPane .download
{
	display: inline-block;
	width: 20%;
	max-width: 100px;
	cursor: pointer;
	border: 1px solid black;
	text-align: center;
	margin: 5px 0;
}
