
.directoryChild
{
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 1px solid black;
	margin: 5px;
	vertical-align: top;
	word-break: break-all;
}

.fileManager
{
	background-color: white;
	width: 500px;
	height: 200px;
}

.fileManager iframe
{
	width: 500px;
	border: none;
	height: 150px;
}

.fileManager .titleBar
{
	background-color: #ccc;
	border-bottom: 1px solid black;
	padding: 4px;
}

.fileManager .title
{
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	font-size: 1.2em;
}

.fileManager .close
{
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 6px;
	cursor: pointer;
}