#homeLink
{
	width: 15%;
}

#homeLink img
{
	width: 100%;
}

#mainNav
{
	width: 85%;
	text-align: left;
}

#homeLink,
#mainNav
{
	display: inline-block;
	vertical-align: bottom;
}

#mainNav > a
{
	display: inline-block;
	vertical-align: middle;
	padding: 5px 10px;
}

/* Project Management */
#tasksContainer .pmLeftPane
{
	display: inline-block;
	vertical-align: top;
	width: 18%;
	border-right: 1px solid #ccc;
	margin-right: -5px;
}

#tasksContainer .pmRightPane
{
	border-left: 1px solid #ccc;
	display: inline-block;;
	vertical-align: top;
	width: 78%;
}

#tasksContainer .createProject,
#tasksContainer .parent,
#tasksContainer .createTask
{
	display: inline-block;
	padding: 1px 3px;
	font-size: 0.8em;
	border: 1px solid #888;
	background-color: #aaa;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
}

#tasksContainer.project
{
	border-bottom: 1px solid #888;
}

#tasksContainer .project .projectName
{
	display: inline-block;
	width: 75%;
	cursor: pointer;
}

#tasksContainer .project .editProjectButton
{
	display: inline-block;
	width: 25%;
	cursor: pointer;
}

#tasksContainer .editTaskButton
{
	cursor: pointer;
}

#tasksContainer .caption
{
	display : inline-block;
	vertical-align: top;
	width: 24%;
	margin-right: 1%;
	text-align: right;
	font-size: 0.8em;
}

#tasksContainer .field
{
	display: inline-block;
	vertical-align: top;
	width: 74%;
}

#tasksContainer .field input[type="text"],
#tasksContainer .field select,
#tasksContainer .field textarea
{
	width: 95%;
	margin: auto;
	display: block;
}

#tasksContainer .field textarea
{
	height: 150px;
}

#tasksContainer .projectListingPane
{
	padding : 1%;
}

#tasksContainer .taskListingPane
{
	border-bottom: 1px solid #ccc;
	padding: 0 1%;
	margin: 1% 0;
}

#tasksContainer .editPane
{
	padding: 1%;
}

#tasksContainer { position: relative; }

#tasksContainer .loadingIcon
{
	position: absolute;
	left: -20px;
	top: -20px;
}

#tasksContainer { position: relative; }

#tasksContainer .loadingIcon
{
	position: absolute;
	padding: 5px;
	background-color: rgba(0, 0, 0, 60);
	color: white;
}